version: 2
updates:
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: weekly
    target-branch: master
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint/*"
          - "typescript-eslint"
